@tailwind base;
@tailwind components;
@tailwind utilities;

.white-logo {
  filter: brightness(0) invert(1);
}

.grayish-img {
  filter: sepia(100%) brightness(80%);
}

.modal-open {
  overflow: hidden;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-right {
  animation: slide-right 2s infinite;
}

@keyframes download-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.download-bar-container {
  height: 3px;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 3px;
}

.download-bar {
  height: 100%;
  background-color: #2196f3; /* Warna biru untuk download bar */
  animation: download-progress 3s linear infinite;
}
